<!DOCTYPE html>
<html>
  <body>
    <h1>Account Pending Approval</h1>
    <p>Hello <%= @user.username %>,</p>
    <p>Your account is currently pending approval. You will be notified once it has been reviewed by an admin.</p>
    <p>Thank you for your patience.</p>
  </body>
</html>
