<h1>My Portfolio</h1>

<% if @stocks.any? %>
  <ul>
    <% @stocks.each do |stock| %>
      <li><%= stock.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have no stocks in your portfolio.</p>
<% end %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>
